html, body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0.25in;
}

h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }

hr {
    height: 1px;
    background: black;
    border: 0;
    margin-top: 0;
}

.article-header, .resume-header { display: flex; }

.article-header { align-items: center; }

.article-header > *, .resume-header > * { flex: auto; }

.align-right { text-align: right; }

.contact, .job-highlights {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contact { display: inline-block; text-align: left; }

.job-highlights li {
    border-left: 3px solid #aaa;
    padding-left: 0.5em;
    margin: 0.5em;
}

article { margin-bottom: 0.25in; }

section { margin: 0.25in 0; }

.icon {
    font-size: 125%;
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.25em;
    background-size: 4em 4em;
    background-image: url(../images/sprites.svg);
}


/** I'd like to reduce the number of requests, by merging these into one SVG
    But I CBB to make a sprite sheet now, and view support is terrible across browsers */
.icon-github { background-position: 0 0; }
.icon-phone { background-position: -1em 0; }
.icon-internet { background-position: -1em -1em; }
.icon-email { background-position: -1em -2em; }

@media print {
    a { text-decoration: none; color: black; }
}
